*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(190, 190, 190);
}

.logo{
    width: 200px;
    height: 200px;
    background-image: url(./img/hamb-1.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 10%;
}

.land{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
    width: 100%;
    height: 430px;
    background-image: url(./img/bg.png);
    background-size: cover;
    gap: 10px;
}

.endereco{
    font-size: 15px;
}

.hor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(19, 87, 31);
    font-size: 15px;
}
.land2{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 10px;
    
   
}

.burguer1{
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 5px;

}
.name_burguer{
    font-size: 20px;
    font-weight: 700;
}
.itens_burguer{
    text-align: justify;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 10px;
    margin-bottom: 80px;
    gap: 10px;

   
}
.refri1, .refri2{
    display: flex;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    
}
.refri1{
    grid-column: 2/2;
}
.refri2{
    grid-column: 3/3;
}
.refri1 .Price_Button, .refri2 .Price_Button{
    margin-top: 20px;
    
}
.burguer img{
    margin: 0 10px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    transition: 0.1s;
    
}

/* janela de votos */
.back_car{
    display:none;
    position:fixed ;
    z-index: 99;
    background-color:rgba(5, 5, 5, 0.5);
    width: 100%;
    height: 100%;
}
.background_burguer{
    display: block;
    
}
.burguer_vote{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name_burguer_vote img{
    margin: 0 10px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.name_vote{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
}
.item_vote2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.star_vote{
    font-size:50px;
    cursor: pointer;
    transition: 0.2s;
}
.star_vote:hover{
    color: orangered;
    transform: scale(1.5);
}
.star_vote.filled{
    color: orangered;
}
.filled{
    color: orangered;
}
.star_vote.filled::before{
    content:"\2605";
}
.star_vote:hover:before{
    content: "\2605";
}
.star_vote::before{
    content:"\2606";
}

.star_vote.selected::before{
    color: orangered;
    content: "\2605";
}

.btn_vote_container{
    display: flex;
    justify-content: center;
}

.btn_vote2{
    background-color: rgb(42, 172, 48);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    font-weight: bold;
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;

}
.btn_vote_exit{
    width: 20px;
    height: 20px;
    background-color:  rgb(199, 199, 199);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    float: right;
    z-index: 99;
    
}

/* Fim janela de votos */


.grid .burguer img:hover{
    transform:rotate(-2deg);
    width: 90px;
    height: 90px;
}
.grid2 .burguer img:hover{
    transform:rotate(-2deg);
    width: 90px;
    height: 90px;
}

.material-symbols-outlined{
    width: 40px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

.Price_Button{
    display: flex;
    gap: 2px;
    justify-content: space-between;
}
.land3{
    position: fixed;
    display:flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(201, 46, 46);
    color: white;
    gap: 10px;
    cursor: pointer;

}
.land3 .material-symbols-outlined{
    width: 40px;
    background-color: rgb(201, 46, 46);
    color: aliceblue;
    border-radius: 0px;
    cursor: pointer;
}
.background_Carrinho{
    display:none;
    position:fixed ;
    z-index: 99;
    background-color:rgba(5, 5, 5, 0.5);
    width: 100%;
    height: 100%;
}

.carrinho, .background_burguer{
    background-color: aliceblue;
    border-radius: 5px;
    position:fixed ;
    z-index: 100;
    width: 550px;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2%;
    overflow: auto;
    
    
}
.total_carrinho{
    display: flex;
    justify-content:right;
    gap: 10px;
    margin-bottom: 10px;
    
}

.endereco2{
    gap: 10px;
    width: 100%;
    height: 30px;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}
.DigiteEnd{
    display: none;
    color: red;
}
.button{
    display: flex;
    justify-content: space-between;
}
.btn_close, .btn_delete{
    background-color: rgb(199, 199, 199);
    border-radius: 2px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.btn_vote{
    background-color: rgb(42, 172, 48);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    font-weight: bold;
    width: 60px;
    height: 30px;
    cursor: pointer;

}

.bnt_finish{
    background-color: rgb(19, 87, 31);
    color: aliceblue;
    border-radius: 2px;
    width: 110px;
    height: 30px;
    cursor: pointer;
}

.car-item-add{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
}
.burguer_car{
    display: flex;
}
.item_car{
    display:flex;
    margin-top: 15%;
    justify-content: space-between;
    
}
.Btn_car_qtd{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}
.Btn_car_qtd:hover{
    background-color: rgb(238, 234, 18);
    color: black;
    transform: scale(1.5);
}

.item_car_total{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 10px;

}

.under_construction{
    position:fixed;
    z-index: 100;
    width: 250px;
    height: 200px;
    bottom: -100px;
    transform: translateX(50%);
    animation: slideUp 2s forwards;
    right: 200px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    
}

.under_construction img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.btn_underC{
    width: 20px;
    height: 20px;
    background-color:  rgb(0, 0, 0);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    float: right;
    z-index: 99;
    position: fixed;
    right: 20px;
    top: 20px;
}

@media screen and (max-width: 600px) {
.grid{
    display: block;
    
    
}
.carrinho{
    width: 90%;
    height: 60vh;
    
}
}

@keyframes pulsar {
    0%{
        transform: scale(1);
        
    }
    50%{
        transform: scale(1.1);

    }
    100%{
        transform: scale(1);
    }
}

@keyframes slideUp {
    0% {
        bottom: -250px; 
    }
    100% {
        bottom: 30px; 
    }
}
@keyframes slideDown {
    0% {
        bottom: 30px; 
    }
    100% {
        bottom: -250px; 
    }
}
.pulsar{
    animation: pulsar 0.3s ease-out;
}